# Ignore virtual environment
.venv/

# Ignore VSCode settings
.vscode/

# Ignore SQLite database
db.sqlite3

# Ignore collected static files
static_collected/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment-specific files
*.env
